* {box-sizing:border-box; font-family: Microsoft Sans Serif; transition: 0.2s;}
body {font-family: Microsoft Sans Serif;
}


body {margin:0;
}
*{
  font-family:century gothic;
  font-weight: 500;
  scroll-behavior: smooth;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy/*#6495ED*/;
    position: fixed;
    box-shadow: 0px 0px 12px black;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 18px 22px;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}
ul.topnav li.icon {display: none;}
.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
}

ul.topnav li a:hover {
  background-color: cornflowerblue/*#191970*//*#000080*/; color:white;text-shadow: 2px 2px 5px black;
}
@media screen and (max-width:740px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li:(:first-child){text-align:center;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width:740px) {
  ul.topnav.responsive {position: fixed;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li img{
    position: absolute;
    /*left: 39px;*/
    left:30%;
    /*height:35px;*/
    width: 260px;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width:360px){
  ul.topnav.responsive li img{
    position: absolute;
    /*left: 39px;*/
    left:39px;
    /*height:35px;*/
    width: 260px;
  }
}
/*          for    zoom picture           */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/*          end of for zoom picture       */



/*     for animation     */
.brand{
  width: 100%;
  height: 142px;
  margin-top: 58px;
  background: -webkit-linear-gradient(right,#6495ED,#00BFFF,#E0FFFF,#E0FFFF,#00BFFF,#6495ED);

}

.brand img{
  margin-left: 42%;
  width: 15%;
  margin-top: 9px;  
  height: 120px;
  position: absolute;
}
@media(max-width:1200px){
  .brand img{
      width: 30%;
      margin-left: 35%;
      margin-top: 2px;
  }
}
@media(max-width:1100px){
  .brand img{
      width: 30%;
      margin-left: 35%;
      margin-top: 2px;
  }
}
@media(max-width:1000px){
  .brand img{
      width: 30%;
      margin-left: 35%;
      margin-top: 2px;
      margin-top: 8px;
  }
}
@media(max-width:900px){
  .brand img{
      width: 25%;
      margin-left: 40%;
      margin-top: 8px;
  }
}
@media(max-width:800px){
  .brand img{
      width: 25%;
      margin-left: 40%;
      margin-top: 0px;
      height: 100px;
      margin-top: 8px;
  }
}
@media(max-width:700px){
  .brand img{
      margin-left: 35%;
      width: 30%;
      margin-top: 0px;
      margin-top: 8px;
  }
}
@media(max-width:600px){
  .brand img{
      width: 40%;
      margin-left: 31%;
      margin-top: 8px;
  }
}
.d1{
animation:bir;
animation-duration:16s;
animation-iteration-count:infinite;
animation-delay:1s; 
}
.d2{
  animation:ikki;
  animation-duration:16s;
  animation-iteration-count:infinite;
  animation-delay:1s;
}
.d3{
animation-delay:1s;
animation:uch;
animation-duration:16s;
animation-iteration-count:infinite;
}
.d4{
animation:tort;
animation-duration:16s;
animation-iteration-count:infinite;
animation-delay:1s;
}
@-webkit-keyframes bir{
0%{ opacity: 0; filter: grayscale(50%);}
5%{ opacity:0.5;  filter: grayscale(40%);}
10%{ opacity: 0.7; filter: grayscale(30%);}
15%{ opacity: 0.8; filter: grayscale(5%);}
20%{ opacity:0.5;  filter: grayscale(0%);}

25%{opacity:0;}
30%{opacity:0;}
35%{opacity:0;}
40%{opacity:0;}
45%{opacity:0;}

50%{opacity:0;}
55%{opacity:0;}
60%{opacity:0;}
65%{opacity:0;}
70%{opacity:0;}

75%{opacity:0;}
80%{opacity:0;}
85%{opacity:0;}
90%{opacity:0;}
95%{opacity:0;}
100%{opacity:0;}
}
@-webkit-keyframes ikki{
0%{opacity:0;}
5%{opacity:0;}
10%{opacity:0;}
15%{opacity:0;}
20%{opacity:0;}

25%{ opacity: 0; filter: grayscale(50%);}
30%{ opacity:0.5; filter: grayscale(30%);}
35%{ opacity: 0.7; filter: grayscale(20%);}
40%{ opacity: 0.8; filter: grayscale(5%);}
45%{ opacity:0.2; filter: grayscale(0%);}


50%{opacity:0;}
55%{opacity:0;}
60%{opacity:0;}
65%{opacity:0;}
70%{opacity:0;}

75%{opacity:0;}
80%{opacity:0;}
85%{opacity:0;}
90%{opacity:0;}
95%{opacity:0;}
100%{opacity:0;}
}
@-webkit-keyframes uch{
0%{opacity:0;}
5%{opacity:0;}
10%{opacity:0;}
15%{opacity:0;}
20%{opacity:0;}

25%{opacity:0;}
30%{opacity:0;}
35%{opacity:0;}
40%{opacity:0;}
45%{opacity:0;}

50%{ opacity: 0; filter: grayscale(50%);}
55%{ opacity:0.5;  filter: grayscale(30%);}
60%{ opacity: 0.7; filter: grayscale(20%);}
65%{ opacity: 0.8; filter: grayscale(5%);}
70%{ opacity:0.5;  filter: grayscale(0%);}

75%{opacity:0;}
80%{opacity:0;}
85%{opacity:0;}
90%{opacity:0;}
95%{opacity:0;}
100%{opacity:0;}
}
@-webkit-keyframes tort{
0%{opacity:0;}
5%{opacity:0;}
10%{opacity:0;}
15%{opacity:0;}
20%{opacity:0;}

25%{opacity:0;}
30%{opacity:0;}
35%{opacity:0;}
40%{opacity:0;}
45%{opacity:0;}

50%{opacity:0;}
55%{opacity:0;}
60%{opacity:0;}
65%{opacity:0;}
70%{opacity:0;}

75%{ opacity: 0; filter: grayscale(50%);}
80%{ opacity:0.5;  filter: grayscale(30%);}
90%{ opacity: 0.7; filter: grayscale(10%);}
95%{ opacity: 0.8; filter: grayscale(5%);}
100%{ opacity:0.5;  filter: grayscale(0%);}
}
/*           end  of the animation      */

/*              for marquee             */
.marqu{
  width: 40%;
  position: relative;
  margin-top: -39px;
  margin-left:2px;

}
marquee {
  font-size: 25px;
  color: rgba(47,79,79,1);
  text-shadow: 0 2px 5px white;
}
.marqu1{
  width: 40%;
  position: relative;
  margin-left:59.8%;
  margin-top: -37px;
}
@media(max-width: 1000px){
  .marqu, .marqu1 {
    width: 25%;
  }
  .marqu1{
    margin-left:74.8%;
  }
}
@media(max-width: 1100px){
  .marqu, .marqu1 {
    width: 25%;
  }
  .marqu1{
    margin-left:74.8%;
  }
}
/*       end   of   marquee             */
.parallax{
  margin-top: -46px;
}
.parallax .img1{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/foto.png');
  width: 100%;
  opacity: 0.8;
  height: 390px;
  /*images (11).jpg*/
}
.parallax .img2{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/pexels-photo-386009.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  opacity: 0.8;
  height: 350px;
}
.parallax .img3{
  background-image: url('../images/2014-Impala-Interior.jpg');
  width: 100%;
  height: 350px;
  opacity: 0.8;
}
.parallax .img4{
  background-image: url('../images/d0e2b7e751f4a5286b63c4d17c3738c4.jpg');
  width: 100%;
  height: 350px;
}

.parallax .img1, .img2, .img3, .img4{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.parallax section{
  font-size: 15px;
  padding: 15px 16px;
  background: /*rgb(0,191,255)*/ #87CEFA/*#00BFFF*/;
  height: 80vh;
  overflow: hidden;

}
.parallax section img {
  width: 80%;
}
.parallax section div {
  float: left;  
  box-sizing: border-box;
}

.city {
   float: left;
   margin: 2% 0 0 5%;
   padding: 10px;
   max-width: 45%;
}   
.city img{
  margin-left:8%; 
  width: 100%;
  cursor: pointer;
}
.city1 {
   float: left;
   margin: 2% 0 0 5%;
   padding: 10px;
   max-width: 45%;
   transition: left 0.4s;
}   
.city1 img{
  margin-left:8%; 
  width: 100%;
  cursor: pointer;
}
.city2 {
   float: left;
   margin: 2% 0 0 5%;
   padding: 10px;
   max-width: 45%;
}   
.city2 img{
  margin-left:8%; 
  width: 100%;
  cursor: pointer;
}

.a{
top: -450px;
transition: top 1s;
opacity: 0; 
position: relative;
border: 10px outset #4682B4;
box-shadow: 0 0 15px black;
border-radius:5px; 
background:#008B8B;
}
.b{
  top: 580px;
transition: top 1s;
color:white;
opacity: 0;
position: relative;
text-align: left;
}
.c{
  left: -480px;
position: relative;
border: 10px outset #4682B4;
box-shadow: 0 0 15px black;
border-radius:5px; 
background:#008B8B;
max-width: 29%;
min-width: 20%;
transition: left 1s; 
}
.d{
color:white;
position: relative;
text-align: left;
left: 1000px; 
transition: left 1s; 
}
.e{
  left: -480px;
transition: top 1s;
position: relative;
border: 10px outset #4682B4;
border-radius:5px; 
box-shadow: 0 0 15px black;
background:#008B8B;
transition: 1.2s; 

}
.f{
transition: top 1s;
color:white;
position: relative;
text-align: left;
left: -1200px;
transition: 0.8s; 
}
.gee{
  top: 0px;
  opacity: 1;
}
.gee1{
  left: 0px;
}
.gee2{
  left: 0px;
}
@media(max-width: 500){
  .city, .city1, .city2 {
    width: 85%;
    float: none;
  }

  .city {
   float: left;
   margin: 2% 0 0 5%;
   padding: 10px;
   max-width: 85%;
}   
.city img{
  margin-left:8%; 
  width: 100%;
  cursor: pointer;
}
.city1 {
   float: left;
   margin: 2% 0 0 5%;
   padding: 10px;
   max-width: 85%;
   transition: left 0.4s;
}   
.city1 img{
  margin-left:8%; 
  width: 100%;
  cursor: pointer;
}
.city2 {
   float: left;
   margin: 2% 0 0 5%;
   padding: 10px;
   max-width: 85%;
}   
.city2 img{
  margin-left:8%; 
  width: 100%;
  cursor: pointer;
}

.a{
top: -450px;
transition: top 0.8s;
opacity: 0; 
position: relative;
border: 10px outset #4682B4;
box-shadow: 0 0 10px black;
background:#008B8B;
}
.b{
  top: 580px;
transition: top 0.8s;
color:white;
opacity: 0;
position: relative;
text-align: left;
}
.c{
  left: -480px;
position: relative;
border: 10px outset #4682B4;
box-shadow: 0 0 10px black;
background:#008B8B;
max-width: 29%;
min-width: 20%;
transition: left 0.8s; 
}
.d{
color:white;
position: relative;
text-align: left;
left: 1000px; 
transition: left 0.8s; 
}
.e{
  left: -480px;
transition: top 0.8s;
position: relative;
border: 10px outset #4682B4;
box-shadow: 0 0 10px black;
background:#008B8B;
transition: 1.2s; 

}
.f{
transition: top 0.8s;
color:white;
position: relative;
text-align: left;
left: -1200px;
transition: 0.8s; 
}
}
/*    media   -   740 
@media(max-width: 740px){
.city{
  top:0px;
}
}*/



.footer {
    background-color:rgba(0,0,128,0.96);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    position: relative;
    overflow-y: hidden;
    height: 500px;
    top: -18px;
}
/*.footer {
    background-color:#3CB371;

    color: #ffffff;
    text-align: center;
    font-size: 35px;
    padding: 15px;
    width: 100%;
    position: absolute;
}*/

.footer > p {
  font-size: 25px;
  border-bottom: 2px solid white;
  text-shadow: 2px 2px 5px black;
  padding-bottom: 10px;
}
.footer p{
  padding:15px;
  font-size: 20px; 
  border-bottom: 2px solid white;
  text-align:center; 
}
.footer .fa{
  font-size: 40px;
  /*padding-right: 5%;*/
  color:#F5DEB3;
}
.footer .fa-home{
  color: black;
}
.footer h3{
  font-size: 10px;
}
.footer h3{
  padding:15px;
  font-size: 30px; 
  border-bottom: 2px solid white;
  text-align:center; 
  font-weight: 900;
  text-shadow: 0 2px 2px #00CED1,
  0 3px 3px #000080,
  2px 3px 4px #000880,
  3px 3px 5px #FF7F50;
}
.footer .iconn, .words{
  float: left;
}
.footer .iconn{
  margin-left: 20%;
}
.footer .fa{
  font-size: 35px;
}
.footer h3{
  font-size: 12px;
}
.footer .words{
  width: 50%;
  margin-left:25%;
  background:rgba(0,107,255,0.2);
  box-shadow: 0px 0px 5px #000080,
  0px 5px 10px black,
  0px 0px 15px white;
  border-radius: 5px;
}
.footer > p {
  font-size: 30px;
  border-bottom: 2px solid white;
  text-shadow: 2px 2px 5px black;
  padding-bottom: 50px;
}
@media(max-width: 680px){
.footer .words{
  width: 100%;
  margin-left:0px; 
}
}

#video{
  max-width: 60%; 
  margin-top:15px;
  margin-left: 80 %;
  box-shadow: 0 0 20px black;
  border-radius: 8px 8px 0 0; 
}
#video:hover{
  opacity: 0.8;
}
@media(max-width: 500px){
  #video{
  max-width: 250px;
  margin-top:15px; 
  margin-left: 0.5%;
  height: 250px;
}
.section .fa-thumbs-down{
  margin-left: 15%;
}
.fa{
  top: 5px;
}
}


@media(min-width: 550px){
  #video{
  width: 55%;
  margin:0px auto;
  margin-top:15px; 
  margin-left: 22%;
}
}


.section .fa{
  font-size: 300%;
  cursor: pointer;
  position: relative;
}
.fa-thumbs-down{
  margin-left: -75%;
  color: #8B0000;
  width: 100px;
  height: 100px;
  border-radius:50%;
  border:1px solid #8B0000;
  padding: 25px;
  bottom: 50px;
}
.fa-thumbs-up{
  color: #006400;
  width: 100px;
  height: 100px;
  border-radius:50%;
  border:1px solid #006400;
  padding: 25px;  
  left: 5%;
  bottom: 50px;
}
.fa:hover{
  transform: scale(1.1);
  box-shadow: 0 0 7px white;  
}
div.ico1{
  position: relative;
  top: 200px;
  color: white;
  text-align: center;
  font-size: 35px;
}
div.ico1 h2{
  font-size: 60px;
}
div.ico1 span {
  width: 20%;
  position: relative;
  left: 35%;
  background-color:white; 
  border-bottom:2px solid white; 
}