* {box-sizing:border-box; font-family: Microsoft Sans Serif; transition: 0.2s;}
body {font-family: "CenturyGothic",Century Gothic,sans-serif;
background-color: #A9A9A9;
background-image: linear-gradient(45deg, #D3D3D3 25%, transparent 25%, transparent 75%, #D3D3D3 75%, #D3D3D3), 
linear-gradient(45deg, #D3D3D3 25%, transparent 25%, transparent 75%, #D3D3D3 75%, #D3D3D3);
background-size:60px 60px;
background-position:0 0, 30px 30px
}


.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 98%;
  position: relative;
  margin:59px auto;
 /*padding-top: 55px;*/
  /*background:#87CEEB;*/
  box-shadow: 0px 0px 17px black;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  
}
  
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.footer {
    background-color:rgba(0,0,128,0.9);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    position: relative;
    overflow-y: hidden;
    height: 500px;
    margin-top: -75px;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

body {margin:0;}
*{
  font-family: "CenturyGothic",Century Gothic,sans-serif;
  font-weight: 500;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
    position: fixed;
    box-shadow: 0px 0px 10px black;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 18px 22px;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}
ul.topnav li.icon {display: none;}
.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
}

ul.topnav li a:hover {background-color: cornflowerblue; color:white;text-shadow: 2px 2px 5px black;}
@media screen and (max-width:740px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li:(:first-child){text-align:center;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width:740px) {
  ul.topnav.responsive {position: fixed;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li img{
    position: absolute;
    /*left: 39px;*/
    left:30%;
    /*height:35px;*/
    width: 260px;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
  .footer {
    /*background-color:#2175B5;*/
    background-color:rgba(0,0,128,0.9);
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    padding: 15px;
    width: 100%;
    position: absolute;
    margin-top: -75px;
}

.footer > p {
  font-size: 25px;
  border-bottom: 2px solid white;
  text-shadow: 2px 2px 5px black;
  padding-bottom: 10px;
}
.footer p{
  padding:15px;
  font-size: 20px; 
  border-bottom: 2px solid white;
  text-align:center; 
}
.footer .fa{
  font-size: 40px;
  /*padding-right: 5%;*/
  color:#F5DEB3;
}
.footer .fa-home{
  color: black;
}
.footer h3{
  font-size: 10px;
}
.slideshow-container{
  width: 1100px;

}
}
@media screen and (max-width:400px){
  ul.topnav.responsive li img{
    position: absolute;
    /*left: 39px;*/
    left:39px;
    /*height:35px;*/
    width: 260px;
  }
}
.footer h3{
  padding:15px;
  font-size: 30px; 
  border-bottom: 2px solid white;
  text-align:center; 
  font-weight: 900;
  text-shadow: 0 2px 2px #00CED1,
  0 3px 3px #000080,
  2px 3px 4px #000880,
  3px 3px 5px #FF7F50;

}
.footer .iconn, .words{
  float: left;
}
.footer .iconn{
  margin-left: 20%;
}
.footer .fa{
  font-size: 35px;
}
.footer h3{
  font-size: 12px;
}
.footer .words{
  width: 50%;
  margin-left:25%;
  background:rgba(0,107,255,0.2);
  box-shadow: 0px 0px 5px #000080,
  0px 5px 10px black,
  0px 0px 15px white;
  border-radius: 5px;
}
.footer > p {
  font-size: 30px;
  border-bottom: 2px solid white;
  text-shadow: 2px 2px 5px black;
  padding-bottom: 50px;
}
@media(max-width: 680px){
.footer .words{
  width: 100%;
  margin-left:0px; 
}
}










/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-500px; opacity:0} 
    to {top:-100px; opacity:1}
}

@keyframes animatetop {
    from {top:-500px; opacity:0}
    to {top:-100px; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #1A1A8D;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #1A1A8D;
    color: white;
}
.container {
    padding: 16px;
}
#sign-upp{
  padding:10px 16px;
    margin:5px;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}
.close:hover{
  color:white;
}