* {box-sizing:border-box; font-family: Microsoft Sans Serif; transition: 0.2s;}
body {font-family: Microsoft Sans Serif;
}



.footer {
    background-color:rgba(0,0,128,0.95);
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    position: relative;
    overflow-y: hidden;
    height: 500px;
}

body {margin:0;
background-image: url("word-picture.png");
  background-position: center;
  background-attachment: fixed;
}
*{
  font-family: "CenturyGothic",Century Gothic,sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
    position: fixed;
    box-shadow: 0px 0px 15px black;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 16px 22px;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
}
ul.topnav li.icon {display: none;}
.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
}

ul.topnav li a:hover {background-color: cornflowerblue; color:white;text-shadow: 2px 2px 5px black;}
@media screen and (max-width:740px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li:(:first-child){text-align:center;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
}
.forpicture{
  background-image: url('img_bg_3.jpg');
}
@media screen and (max-width:740px) {
  ul.topnav.responsive {position: fixed;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li img{
    position: absolute;
    /*left: 39px;*/
    left:30%;
    /*height:35px;*/
    width: 260px;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
  .footer {
    /*background-color:#2175B5;*/
    background-color:rgba(0,0,128,0.96);

    color: #ffffff;
    text-align: center;
    font-size: 35px;
    padding: 15px;
    width: 100%;
    position: absolute;
}

.footer > p {
  font-size: 25px;
  border-bottom: 2px solid white;
  text-shadow: 2px 2px 5px black;
  padding-bottom: 10px;
}
.footer p{
  padding:15px;
  font-size: 20px; 
  border-bottom: 2px solid white;
  text-align:center; 
}
.footer .fa{
  font-size: 40px;
  /*padding-right: 5%;*/
  color:#F5DEB3;
}
.footer .fa-home{
  color: black;
}
.footer h3{
  font-size: 10px;
}
 .main img{
  height: 80px;
 }
}
@media screen and (max-width:360px){
  ul.topnav.responsive li img{
    position: absolute;
    /*left: 39px;*/
    left:20px;
    /*height:35px;*/
    width: 260px;
  }
}
.footer h3{
  padding:15px;
  font-size: 30px; 
  border-bottom: 2px solid white;
  text-align:center; 
  font-weight: 900;
  text-shadow: 0 2px 2px #00CED1,
  0 3px 3px #000080,
  2px 3px 4px #000880,
  3px 3px 5px #FF7F50;
}
.footer .iconn, .words{
  float: left;
}
.footer .iconn{
  margin-left: 20%;
}
.footer .fa{
  font-size: 35px;
}
.footer h3{
  font-size: 12px;
}
.footer .words{
  width: 50%;
  margin-left:25%;
  background:rgba(0,107,255,0.2);
  box-shadow: 0px 0px 5px #000080,
  0px 5px 10px black,
  0px 0px 15px white;
  border-radius: 5px;
}
.footer > p {
  font-size: 30px;
  border-bottom: 2px solid white;
  text-shadow: 2px 2px 5px black;
  padding-bottom: 50px;
}
@media(max-width: 680px){
.footer .words{
  width: 100%;
  margin-left:0px; 
}
}

/*          for picture           */
.forpicture{
  width: 100%;
  margin-top: 59px;
  background-repeat: no-repeat;
  background-size: cover;
  background:rgba(240,240,240,0.8); 
  


}
.menu {
  float:right;
  width:20%;
  text-align:center;
}
.menu a {
  background:-webkit-radial-gradient(top right,#008B8B,#141487);
  padding:18px 8px;
  margin-top:1px;
  display:block;
  width:100%;
  color:white;
  position: relative;
  text-decoration:none; 
}
.menu a:hover{
  transform: scale(1.05);
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0 0 18px white;
}
.main {
  margin-top: -5px;
  width:80%;
  float: left;
  overflow-y:scroll;
  height: 500px; 
}


@media only screen and (max-width:700px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
  .forpicture .main img{
    width: 80%;
    margin-left: 10%;
    margin-right: 20%;
  }
}

/*          end of for picture     */
.main img{
  cursor: pointer;
  width: 25%;
  box-shadow: 0 0 15px black;
  margin-left:5%;
  height: 150px;

}
.main img:hover{
 opacity: 0.8;
}
.main h3{
  text-align:center;
  background:-webkit-linear-gradient(right,#000080,#FFDAB9,#000080);
  height: 50px;
  margin-top:0;
  border-radius:5px 5px 0 0;
  padding-top: 10px;
  font-size: 25px;  
  letter-spacing: 4px; 
}
/*****************************/



/*          for    zoom picture           */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
/*          end of for zoom picture       */